extends base.pug

block content 
   form(method="POST")
       input(name="name",type="text",requred)
       input(name="email",type="email",requred)
       input(name="username",type="text",requred)
       input(name="password",type="password",requred)
       input(name="location",type="text",requred)
       input(type="submit",value="join")