header
       a(href="/").header__logo
          i.fab.fa-youtube
       nav
         i.fab.fa-bars
           ul.menu
             if loggedIn 
                li.list
                  a(href="/videos/upload") Upload Video
                li.list 
                  a(href=`/users/${loggedInUser._id}`) My Profile   
                li.list 
                  a(href="/users/edit") Edit Profile 
                li.list 
                  a(href="/users/logout") Logout 
             else       
                li.list 
                   a(href="/join").header__btn  Join 
                li.list
                   a(href="/login").header__btn  Login 
             li.list 
                a(href="/search")
                   i.fas.fa-search